body{
    box-sizing: border-box;
    margin: 0;
    /* background-image: linear-gradient(#F76C6C 80%, red); */
    /* background-color: #F76C6C; */
    /* #F8E9A1 #F76C6C $A8D0E6 #374785 #24305E */
    background-image: url('./images/pexels-pixabay-531756.jpg');
    background-size: cover;
    overflow-y: hidden;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;

    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5 rem;
    padding-right: 0.5rem;
}

#navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: transparent;
    backdrop-filter: blur(10px);
    /* box-shadow: rgb(0, 0, 0); */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0 15px;
    margin-bottom: 20px;
    z-index: 999;
}

/* Search bar */
#navbar .wrapper{
    width: 25%;
}

#navbar .search-box{
    position: relative;
    /* border-radius: 23px; */
}

#navbar .search-txt{
    border: 3px solid;
    border-color: blue;
    height: 40px;
    width: 94%;
    border-radius: 40px;
    padding-left: 15px;
    font-size: 18px;
}

.icon{
    position: absolute;
    color: rgb(49, 6, 245);
    top: 13px; 
    right: 3%;
    font-size: 20px;
    cursor: pointer;
}

.sugg-box{
    position: absolute;
    width: 100%;
    padding: 0px;
    background: white;
    max-width: 355px; 
    max-height: 280px;
    overflow-x: visible;
    overflow-y: auto;
    border-radius: 10px;
}

.sugg-box li{
    list-style: none;
    padding: 8px 12px;
    font-size: 20px;
    width: 90%;
    height: 100%;
    cursor: default;
    display: block; 
}

.search-box.active .sugg-box li{
    display: block;
}

.sugg-box :hover{
    background: rgba(128, 128, 128, 0.301);
}

#navbar .barIcon{
    height: 25px;
    width: 25px
}

/* NotePad */
#notePad{
    position: absolute;
    right: 0;
    top: 10.5vh;
    height: 100vh;
    width: 20%;
    padding-left: 1rem;
    background-color: rgba(54, 184, 240, 0.8);
    /* background-color:  transparent; */
    /* backdrop-filter: blur(50px); */
    /* color: white; */
}

#notePad h4{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
}

#notePad .note-list{
    /* background-color: transparent; */
    height: 70vh;
    overflow-y: auto;
    /* backdrop-filter: blur(50px); */

}

#notePad .note-list ul{
    padding-left: 1rem;
}

#notePad .note-box{
    outline: none;
}

#notePad .note-txt{
    height: 30px;
    border: 2px solid orange;
    border-radius: 8px;
}

#notePad .note-btn{
    height: 30px;
    border-radius: 8px;
    margin-left: 3px;
    background-color: rgb(255, 106, 0);
    border: 2px solid orange;

    /* outline: none; */
}

/* Card */

.card-container{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 1rem;
}

.card{
    width: 30%;
    height: 30vh;
    background-color: transparent;
    backdrop-filter: blur(10px);
    /* background-color: white; */
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* box-shadow: 0 0 500px rgba(0, 0, 0, 0.5); */
}

.card:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-out;
}

.card div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    font-size: 1rem;
}

.card img{
    height: 50%;
    width: 50%;
}

.chart{
    width: 40%;
    margin: auto;
    /* border: 2px solid yellow; */
}

@media (max-width: 1536px) {
    .container{
        max-width: 1280px;
    }   
}

@media (max-width: 1280px) {
    .container{
        max-width: 1024px;
    }   
}

@media (max-width: 1024px) {
    .container{
        max-width: 768px;
    }   
}

@media (max-width: 768px) {
    .container{
        max-width: 540px;
    }   
}

@media (max-width: 640px) {
    .container{
        max-width: 475px;
    }   
}

@media (max-width: 475px) {
    .container{
        max-width: 100%;
    }   
}

