.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 5px; */

    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5 rem;
    padding-right: 0.5rem;
    border: red 1px solid; 

}

#navbar{
    position: relative;
    display: flex;

}
/* Search bar */

#navbar .wrapper{
    position: absolute;
    /* top: 25%; */
    left: 35%;
    /* border: 2px solid red; */
}

#navbar .search-box{
    position: relative;
    background:  rgb(19, 228, 228);
    border-radius: 23px;
}

#navbar .search-txt{
    border: 3px solid;
    border-color: blue;
    height: 40px;
    width: 350px;
    border-radius: 40px;
    padding-left: 15px;
    font-size: 18px;
}

.icon{
    position: absolute;
    color: rgb(49, 6, 245);
    top: 13px; 
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.sugg-box{
    padding: 0px;
    background: white;
    max-width: 355px; 
    max-height: 280px;
    overflow-x: visible;
    overflow-y: auto;
    border-radius: 10px;
}

.search-box.active .sugg-box{     /* space between .active and .suggbox is necessary*/
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.sugg-box li{
    list-style: none;
    padding: 8px 12px;
    font-size: 20px;
    width: 90%;
    height: 100%;
    cursor: default;
    display: none; 
}

.search-box.active .sugg-box li{   /* space between .active and .suggbox is necessary*/
    display: block;
}

.sugg-box :hover{
    background: rgba(128, 128, 128, 0.301);
}

.card{
    width: 30%;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.card div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    font-size: 1rem;
}

@media (max-width: 1536px) {
    .container{
        max-width: 1280px;
    }   
}

@media (max-width: 1280px) {
    .container{
        max-width: 1024px;
    }   
}

@media (max-width: 1024px) {
    .container{
        max-width: 768px;
    }   
}

@media (max-width: 768px) {
    .container{
        max-width: 540px;
    }   
}

@media (max-width: 640px) {
    .container{
        max-width: 475px;
    }   
}

@media (max-width: 475px) {
    .container{
        max-width: 100%;
    }   
}

